.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 720px;
  height: 718px;
  border-radius: 40px;
  box-sizing: border-box;
  border: 1px solid lightgreen;
  background-color: #1c1c21;
  position: relative;
  z-index: 10;
}

.numbers {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
               0px 0px 8px rgba(51, 51, 255, 0.25),
               0px 4px 32px rgba(51, 51, 255, 0.5);
}

.close {
  background: url(../../images/close.svg) transparent no-repeat center center;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
}

.done {
  background: url(../../images/done.png) transparent no-repeat center center;
  width: 120px;
  height: 120px;
}