.wrapper {
  margin-top: 20vh;
  display: flex;
}

.nav {
  width: 320px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #8585ad;
}

.buttons {
  display: flex;
  justify-content: right;
}