.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.text {
  text-align: center;
  padding-bottom: 22px;
}

.price {
  display: flex;
  align-items: center;
}

.image {
  width: 240px;
  height: 120px;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}