.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal {
  width: 720px;
  height: 718px;
  border-radius: 40px;
  box-sizing: border-box;
  border: 1px solid lightgreen;
  background-color: #1c1c21;
  position: relative;
  margin: 100px auto;
}

.close {
  background: url(../../images/close.svg) transparent no-repeat center center;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
}