.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.nutrients {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.nutrient {
  display: flex;
  flex-direction: column;
  align-items: center;
}