.content {
  width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  column-gap: 40px;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/*NavLink*/
a.active {
  color: white;
}

.wrapper {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  width: 480px;
  align-items: stretch;
  flex-direction: column;
}

.input div {
  width: 100%;
}

.isRegistered a {
  text-decoration: none;
  color: #4c4cff;
  margin-left: 8px;
}